@model Book
<div class="card mb-3">
    <div class="row">
        <div class="col-md-3">
            <img src="/img/@Model.ImageUrl" alt="@Model.Name" class="img-fluid" />
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <div>
                    <a class="btn btn-warning" asp-controller="Book" asp-action="Details" asp-route-id="@Model.BookId">Detaya Git</a>

                    <a class="btn btn-warning" asp-controller="Book" asp-action="Edit" asp-route-id="@Model.BookId">Düzenle </a>
                    <form asp-controller="Book" asp-action="Delete" method="post" style="display:inline;">
                        <input type="hidden" name="BookId" value="@Model.BookId" />
                        <input type="hidden" name="Name" value="@Model.Name" />
                        <button type="submit" class="btn btn-warning">Sil</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>