<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - BootCampBooksApp</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    @await Html.PartialAsync("_navbar")
    @RenderSection("header", false)

    <div class="container mt-3">
        @if (IsSectionDefined("menu"))
        {
            <div class="row">
                <div class="col-md-3">
                    @RenderSection("menu", false)
                </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-12">
                    @RenderBody()
                </div>
            </div>
        }
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - BootCamp HomeWork -  Tüm hakları saklıdır &copy;
        </div>
    </footer>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
